{% extends 'base.html.twig' %}

{% block title %}Acteurs{% endblock %}

{% block body %}
    <h1>Tous les acteurs : </h1>
    {% for actor in actors %}
        <div>
            <a href="{{ path("actor_show", { 'id': actor.id }) }}"><h2>{{ loop.index }} / {{ actor.name }}</h2></a>
        </div>
    {% else %}
        Aucun acteur trouvé.
    {% endfor %}

    <a href="{{ path('app_index') }}">
        Retour
    </a>
{% endblock %} 